@import "tailwindcss";

@theme {
    --color-primary: #059669;
    --color-background: #F5F7FB;
    --color-secondary: #059669;
    --color-area: #EFF0F4;
    --color-text: #333333;
}

@layer base {
    body {
        background-color: var(--color-background);
        font-family: 'Poppins', sans-serif;

    }
}
